.footer{
    display: flex;
    justify-content: center;
    margin-top: 92px;
    margin-bottom: 24px;
}

.footer__copyright{
    max-width: 194px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    
}



